footer 
    .wrapper
        .footer 
            .footer-top        
                .footer-item
                    img(src="img/footer__logo.svg", alt="fooerLogo").footer-logo
                    p.footer-slogan Your natural candle made for <br /> your home and for your wellness.
                .footer-item
                    ul.footer-list 
                        li.footer-list__item
                            a.footer-list__link.footer-list__title-link Discovery
                        li.footer-list__item
                            a.footer-list__link New season
                        li.footer-list__item
                            a.footer-list__link Most searched
                        li.footer-list__item
                            a.footer-list__link Most selled
                .footer-item
                    ul.footer-list 
                        li.footer-list__item
                            a.footer-list__link.footer-list__title-link About
                        li.footer-list__item
                            a.footer-list__link Help
                        li.footer-list__item
                            a.footer-list__link Shipping
                        li.footer-list__item
                            a.footer-list__link Affiliate
                .footer-item
                    ul.footer-list 
                        li.footer-list__item
                            a.footer-list__link.footer-list__title-link Info
                        li.footer-list__item
                            a.footer-list__link Contact us
                        li.footer-list__item
                            a.footer-list__link Privacy Policies
                        li.footer-list__item
                            a.footer-list__link Terms &#38; Conditions
.footer-bottom  