header 
    .wrapper
        .header 
            a.header-logo(href="/")
                img(src="img/logo.svg", alt="logo").header-logo__img
            nav
                .nav
                    .nav-item
                        a(href="#").nav-link Discovery
                            img(src="img/icons/arrow.svg", alt="arrow").nav-link__arrow
                    .nav-item
                        a(href="#").nav-link About
                    .nav-item
                        a(href="#").nav-link Contact us 
            .header-control
                .header-control__item
                    .header-control__btn.header-control__user
                        img(src="img/icons/user.svg", alt="user")
                .header-control__item
                    .header-control__btn.header-control__cart
                        img(src="img/icons/cart.svg", alt="cart")
            .header-burger(onclick="burger()")
                div
                div
                div
            





        




        