section.hero 
    .wrapper
        .hero-banner
            img(src="img/hero__leaf.png", alt="leaf").hero-banner__img
            h2.hero-banner__title The nature candle
            p.hero-banner__desc All handmade with natural soy wax, Candleaf is a companion for all your pleasure moments 
            button.hero-banner__btn Discovery our collection
