section.popular
    .wrapper    
        h2.products-title Popular
        p.products-subtitle Our top selling product that you may like 
        .products-group
            .products-group__item
                .products-group__img-bg
                    img(src="img/candles/candle__mint.png", alt="candle").products-group__img
                .products-group__name Spiced Mint
                .products-group__price 9.99$

            .products-group__item
                .products-group__img-bg
                    img(src="img/candles/candle__strawberry.png", alt="candle").products-group__img
                .products-group__name Sweet Straweberry
                .products-group__price 9.99$

            .products-group__item
                .products-group__img-bg
                    img(src="img/candles/candle__blueberries.png", alt="candle").products-group__img
                .products-group__name Cool Blueberries
                .products-group__price 9.99$

            .products-group__item
                .products-group__img-bg
                    img(src="img/candles/candle__lemon.png", alt="candle").products-group__img
                .products-group__name Juicy Lemon
                .products-group__price 9.99$
        