section.products
    .wrapper
        h2.products-title Products
        p.products-subtitle Order it for you or for your beloved ones 
        .products-group
            .products-group__item
                .products-group__img-bg
                    img(src="img/candles/candle__mint.png", alt="candle").products-group__img
                .products-group__name Spiced Mint
                .products-group__price 9.99$

            .products-group__item
                .products-group__img-bg
                    img(src="img/candles/candle__strawberry.png", alt="candle").products-group__img
                .products-group__name Sweet Straweberry
                .products-group__price 9.99$

            .products-group__item
                .products-group__img-bg
                    img(src="img/candles/candle__blueberries.png", alt="candle").products-group__img
                .products-group__name Cool Blueberries
                .products-group__price 9.99$

            .products-group__item
                .products-group__img-bg
                    img(src="img/candles/candle__lemon.png", alt="candle").products-group__img
                .products-group__name Juicy Lemon
                .products-group__price 9.99$

            .products-group__item
                .products-group__img-bg
                    img(src="img/candles/candle__beige.png", alt="candle").products-group__img
                .products-group__name Product name
                .products-group__price 9.99$

            .products-group__item
                .products-group__img-bg
                    img(src="img/candles/candle__cinnamon.png", alt="candle").products-group__img
                .products-group__name Fragrant Cinnamon
                .products-group__price 9.99$

            .products-group__item
                .products-group__img-bg
                    img(src="img/candles/candle__cherries.png", alt="candle").products-group__img
                .products-group__name Summer Cherries
                .products-group__price 9.99$

            .products-group__item
                .products-group__img-bg
                    img(src="img/candles/candle__lavander.png", alt="candle").products-group__img
                .products-group__name Clean Lavander
                .products-group__price 9.99$
