section.reviews 
    .wrapper    
        h2.reviews-title Testimonials
        p.reviews-subtitle Some quotes from our happy customers

        .reviews-group
            .reviews-group__item
                .reviews-group__avatar
                img(src="img/reviews/reviews__stars4.5.png", alt="rating").reviews-group__stars 
                p.reviews-group__quote “I love it! No more air <br /> fresheners”
                p.reviews-group__name Luisa
            .reviews-group__item
                .reviews-group__avatar
                img(src="img/reviews/reviews__stars5.png", alt="rating").reviews-group__stars 
                p.reviews-group__quote “Raccomended for <br /> everyone”
                p.reviews-group__name Edoardo
            .reviews-group__item
                .reviews-group__avatar
                img(src="img/reviews/reviews__stars4.5.png", alt="rating").reviews-group__stars 
                p.reviews-group__quote “Looks very natural, the <br /> smell is awesome”
                p.reviews-group__name Mart