section.cart
    table.cart-table
        th.cart product
        th.cart price
        th.cart quantity
        th.cart total
        
        td.cart 
            img
            
            name
            remove
        td.cart 9.99
        td.cart 1
        td.cart 9.99
        
        
        .cart__sub-total 9.99
        .cart check-out
