// header

.product-page
    .product-page__container
        div
            .product-page__img
            .product-page__short-desc
            .product-page__free-ship
        div
            .product-page__name
            .product-page__options
                div 
                    .product-page__price
                    .product-page__quantity
                div
                    .product-page__radio-choice
                    .product-page__buy
            .product-page__specs


// foo &#128666;